.scene-view{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.scene{
	width: 4096px;
	height: 2037px;
	background-image: url(../img/forest.jpg);
	background-position: bottom right;
}

.character{
	position: absolute;
}
.character.kankrelat{
	background-image: url(../img/idle-1.png);
	width: 128px;
	height: 128px;
	top: 1770px;
	left: 3900px;
}
.character.samurai{
	background-image: url(../img/idle-1-2-1.png);
	width: 128px;
	height: 128px;
	top: 1770px;
	left: 3530px;
}