.window{
	z-index: 100;		
	position: absolute;
	height: 350px;
	background: rgba(100, 100, 255, 0.8);
	top: 20px;
	right: 40px;
	border: white solid 2px;
}
.window .menu{
	height: 100%;
	width: 160px;
	float: left;
	border-right: #caffff solid 2px;
	font-size: 14px;
}
.menu ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.menu li{
	background-image: url(../img/images/goal.png);
	background-repeat: no-repeat;
	background-color: rgba(74, 74, 139, 0.75);
	background-position: left center;
	padding: 5px;
	padding-left: 27px;
	padding-top: 7px;
	border: 2px outset;
	cursor: pointer;
	color: #caffff;
	line-height: 28px;
}
.menu li:hover{
	background-color: rgba(187, 187, 209, 0.76);
}
.menu li:active{
	background-image: url(../img/images/goal-done.png);
	border-style: inset;
	background-color: rgba(0, 0, 0, 0.3);
}
.menu li.selected{
	background-image: url(../img/images/goal-done.png);
	background-color: rgba(0, 0, 0, 0.5);
	cursor: default;
	border-style: inset;
}
.window .content{
	float: left;
	height: 100%;
	width: 400px;
	position: relative;
	background: rgba(0, 0, 0, 0.5);
}
.window .content > div{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
dl{
	margin: 10px;
}
dl > *{
	margin: 2px 0px;
	font-size: 12px;
	line-height: 17px;
}
dt{
	float: left;
	clear: both;
	width: 90px;
	color: #caffff;
}
dt:after{
	content: " :";
}
dd{
	float: left;
}

#menubar
{
	position : absolute;
	top : 5px;
	left : 5px;
	width : 150px;
	height : 20px;
	
	-webkit-transition : -webkit-transform 0.3s cubic-bezier(0,0.45,0.2,0.3,1);
	-webkit-transform-origin : bottom left;
	-webkit-transform : translate(3px,-20px) rotate(90deg) ;
}

.ui-button:hover
{
	z-index : 1;
	-webkit-transform : scale(1.5);
}
